.ref-n-contents {
  gap: 3em;
  justify-content: center;

  div:nth-child(1) {
    flex-direction: column;
    gap: 1em;

    a {
      text-decoration: none;
      background-color: #7f1414;
      color: white;
      line-height: 3em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      height: 3em;
      transition: background 0.3s ease-in;
      text-align: center;
    }

    a:hover {
      background-color: #7f1414c6;
    }
  }

  .desc-container {
    flex-direction: column;
    width: 50%;

    #desc {
      width: 100%;
      text-align: justify;
      padding: 1.5em;
    }
  }
}

.overview {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  p {
    margin: 0;
    width: 70%;
  }

  p:nth-child(1) {
    font-weight: bold;
    color: #7f1414;
    font-size: 1.5rem;
  }
}

.profile-container {
  flex-direction: column;
  align-items: center;
  margin: 1em;

  .heads {
    img {
      height: 20em;
    }
  }

  .pointers {
    align-items: center;
    flex-direction: column;    

    #overview-image {
      max-width: 40%;
      border-radius: 0.5em !important;
      border: 1px solid #ddd !important;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;      
    }

    #area-image {
      border-radius: 0.5em !important;
      max-width: 75%;
    }
  }

  .overview-programs {
    flex-direction: column;
    align-items: center;
    text-align: center;

    #their-name {
      font-family: "Product Sans Bold", sans-serif;
      font-size: 1.25rem;
      color: #7f1414;
      margin-top: 0.5em;
    }

    #their-area {
      font-size: 1rem;
    }
  }
}

.areas {
  margin: 1em;
}

.exhibits-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 3 equal columns
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease-in;
  background-color: rgba(255, 255, 255, 0.9);

  .exhibits-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
        rgb(255, 0, 0),
        rgba(255, 255, 255, 0.1),
        rgb(255, 0, 0));
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: -1;
  }
}

.ul-exhibits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0px;

  .link-exhibits {
    max-width: 75%;

    #area-image {
      height: 275px !important;
      width: 275px !important;
      transition:
        transform 0.2s ease-in,
        filter 0.2s ease-in;

      &:hover {
        transform: scale(1.05);
        filter: opacity(75%);
      }
    }
  }
}

#see-button {
  font-family: "Karla";
  position: relative;
  top: -8em;
  left: 100em;
  border: none;
  background: none;
  color: white;
  font-weight: 500;
}

#syllabi-dialog {
  visibility: hidden;
}
#IM-dialog {
  visibility: hidden;
}
#references-dialog {
  visibility: hidden;
}
#policies-dialog {
  visibility: hidden;
}
#development-dialog {
  visibility: hidden;
}
#disertation-dialog {
  visibility: hidden;
}

.exhibits-dialog-overlay {
  /* display: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .exhibits-dialog-box {
    background-color: white;
    padding: 15px;
    padding-bottom: 30px;
    gap: 1em;
    width: 500px;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* align-items: center !important; */
    flex-direction: column;
    overflow-y: scroll;

    .header-dialog {
      padding-left: 3em;
      gap: 0.25rem;
      /* align-items: left; */
      .close-btn {
        font-family: "Symbols Nerd Font Regular";
        max-width: 50px;
        background-color: #ffffffff;
        border: none;
        font-size: 1.5rem;
      }

      .title-dialog {
        font-family: "Product Sans Bold", sans-serif;
        font-size: 1.5rem;
        color: #7f1414;
      }
    }

    /* Ensure it's on top of other elements */
    .collapsible-container {
      flex-direction: column;
      gap: 1em;
      align-items: center;
      width: 100%;

      .collapsible {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        border-radius: 0.5em;
        background-color: #7f1414;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: background-color 0.5s ease;

        #title {
          font-weight: 600;
          font-size: 1rem;
        }
      }

      .active,
      .collapsible:hover {
        background-color: #7f1414c5;
      }

      .collapsible:after {
        content: "\002B";
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "\2212";
      }

      .content {
        font-family: "Product Sans Regular";
        margin-top: -1em;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 80%;

        ul {
          display: flex;
          flex-direction: column;
        }

        .list-header {
          list-style-type: none;
        }

        li {
          margin-top: 0.5em;
          list-style-type: circle;
          margin-left: -1em;
        }

        a {
          color: #7f1414;
        }
      }
    }
  }
}

.mess-overlay {
  font-family: "Karla";
  color: white;
  background-color: #7f1414;
  width: 60%;
  height: 55%;
  top: 20%;
  left: 20%;
  padding: 3em 5em;
  border-radius: 1em;
  font-size: 1vw;
  gap: 1em;

  strong {
    font-size: 2vw;
  }
}

