.ref-n-contents {
  gap: 3em;
  justify-content: center; }
  .ref-n-contents div:nth-child(1) {
    flex-direction: column;
    gap: 1em; }
    .ref-n-contents div:nth-child(1) a {
      text-decoration: none;
      background-color: #7f1414;
      color: white;
      line-height: 3em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      height: 3em;
      transition: background 0.3s ease-in;
      text-align: center; }
    .ref-n-contents div:nth-child(1) a:hover {
      background-color: #7f1414c6; }
  .ref-n-contents .desc-container {
    flex-direction: column;
    width: 50%; }
    .ref-n-contents .desc-container #desc {
      width: 100%;
      text-align: justify;
      padding: 1.5em; }

.overview {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; }
  .overview p {
    margin: 0;
    width: 70%; }
  .overview p:nth-child(1) {
    font-weight: bold;
    color: #7f1414;
    font-size: 1.5rem; }

.profile-container {
  flex-direction: column;
  align-items: center;
  margin: 1em; }
  .profile-container .pointers {
    align-items: center;
    flex-direction: column; }
    .profile-container .pointers #overview-image {
      max-width: 40%;
      border-radius: 0.5em !important;
      border: 1px solid #ddd !important;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
    .profile-container .pointers #area-image {
      border-radius: 0.5em !important;
      max-width: 75%; }
  .profile-container .overview-programs {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .profile-container .overview-programs #their-name {
      font-family: "Product Sans Bold", sans-serif;
      font-size: 1.25rem;
      color: #7f1414;
      margin-top: 0.5em; }
    .profile-container .overview-programs #their-area {
      font-size: 1rem; }

.areas {
  margin: 1em; }

.exhibits-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  width: 55%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease-in;
  background-color: rgba(255, 255, 255, 0.9); }
  .exhibits-card .exhibits-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, rgba(255, 255, 255, 0.1), red);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: -1; }

.ul-exhibits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0px; }
  .ul-exhibits .link-exhibits {
    max-width: 70%; }
    .ul-exhibits .link-exhibits #area-image {
      height: 200px !important;
      width: 200px !important;
      transition: transform 0.2s ease-in, filter 0.2s ease-in; }
      .ul-exhibits .link-exhibits #area-image:hover {
        transform: scale(1.05);
        filter: opacity(75%); }

/*# sourceMappingURL=about-style.css.map */
