.ref-n-contents {
  gap: 3em;
  justify-content: center; }
  .ref-n-contents div:nth-child(1) {
    flex-direction: column;
    gap: 1em; }
    .ref-n-contents div:nth-child(1) a {
      text-decoration: none;
      background-color: #7f1414;
      color: white;
      line-height: 3em;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      height: 3em;
      transition: background 0.3s ease-in;
      text-align: center; }
    .ref-n-contents div:nth-child(1) a:hover {
      background-color: #7f1414c6; }
  .ref-n-contents .desc-container {
    flex-direction: column;
    width: 50%; }
    .ref-n-contents .desc-container #desc {
      width: 100%;
      text-align: justify;
      padding: 1.5em; }

.overview {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; }
  .overview p {
    margin: 0;
    width: 70%; }
  .overview p:nth-child(1) {
    font-weight: bold;
    color: #7f1414;
    font-size: 1.5rem; }

.profile-container {
  flex-direction: column;
  align-items: center;
  margin: 1em; }
  .profile-container .pointers {
    align-items: center;
    flex-direction: column; }
    .profile-container .pointers #overview-image {
      max-width: 40%;
      border-radius: 0.5em !important;
      border: 1px solid #ddd !important;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }
    .profile-container .pointers #area-image {
      border-radius: 0.5em !important;
      max-width: 75%; }
  .profile-container .overview-programs {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .profile-container .overview-programs #their-name {
      font-family: "Product Sans Bold", sans-serif;
      font-size: 1.25rem;
      color: #7f1414;
      margin-top: 0.5em; }
    .profile-container .overview-programs #their-area {
      font-size: 1rem; }

.areas {
  margin: 1em; }

.exhibits-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  transition: background-color 0.3s ease-in;
  background-color: rgba(255, 255, 255, 0.9); }
  .exhibits-card .exhibits-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, rgba(255, 255, 255, 0.1), red);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: -1; }

.ul-exhibits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0px; }
  .ul-exhibits .link-exhibits {
    max-width: 75%; }
    .ul-exhibits .link-exhibits #area-image {
      height: 275px !important;
      width: 275px !important;
      transition: transform 0.2s ease-in, filter 0.2s ease-in; }
      .ul-exhibits .link-exhibits #area-image:hover {
        transform: scale(1.05);
        filter: opacity(75%); }

#syllabi-dialog {
  visibility: hidden; }

.exhibits-dialog-overlay {
  /* display: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }
  .exhibits-dialog-overlay .exhibits-dialog-box {
    background-color: white;
    padding: 15px;
    padding-bottom: 30px;
    gap: 1em;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* align-items: center !important; */
    flex-direction: column;
    /* Ensure it's on top of other elements */ }
    .exhibits-dialog-overlay .exhibits-dialog-box .header-dialog {
      padding-left: 3em;
      gap: 1rem;
      /* align-items: left; */ }
      .exhibits-dialog-overlay .exhibits-dialog-box .header-dialog .close-btn {
        max-width: 50px;
        background-color: #ffffffff;
        border: none;
        font-size: 1.5rem; }
      .exhibits-dialog-overlay .exhibits-dialog-box .header-dialog .title-dialog {
        font-family: "Product Sans Bold", sans-serif;
        font-size: 1.5rem;
        color: #7f1414; }
    .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container {
      flex-direction: column;
      gap: 1em;
      align-items: center;
      width: 100%; }
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .collapsible {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        border-radius: 0.5em;
        background-color: #7f1414;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: background-color 0.5s ease; }
        .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .collapsible #title {
          font-weight: 600;
          font-size: 1rem; }
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .active,
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .collapsible:hover {
        background-color: #7f1414c5; }
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .collapsible:after {
        content: "\002B";
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px; }
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .active:after {
        content: "\2212"; }
      .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .content {
        font-family: "Product Sans Regular";
        margin-top: -1em;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 80%; }
        .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .content ul {
          display: flex;
          flex-direction: column; }
        .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .content .list-header {
          list-style-type: none; }
        .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .content li {
          margin-top: 0.4em;
          /* margin-left: -1em; */ }
        .exhibits-dialog-overlay .exhibits-dialog-box .collapsible-container .content a {
          color: #7f1414; }

/*# sourceMappingURL=about-style.css.map */
