@charset "UTF-8";
@font-face {
  font-family: "Karla";
  src: url("fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Trajan-Pro";
  src: url("fonts/trajan-pro/TrajanPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Regular";
  src: url("fonts/Product-sans/Product Sans Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("fonts/Product-sans/Product Sans Bold.ttf") format("truetype");
}
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  margin: 0em;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
}

img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.2em;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

div,
section,
header {
  display: flex;
}

.init-header {
  font-family: "Karla", sans-serif;
  scroll-snap-align: start;
  padding: 2em 3em 0em 3em;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.init-header #logo {
  max-height: 8em;
}
.init-header .cmps-header {
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.init-header .cmps-header #campus-name {
  max-height: 7em;
}
.init-header .search {
  filter: opacity(0.4) drop-shadow(0 0 0 #ff2929);
  max-width: 3em;
  margin-top: -2em;
  padding: 0em 3em 0em 3em;
}
.init-header .search-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.init-header .search:hover {
  filter: opacity(0.1) drop-shadow(0 0 0 #ff2929);
}

.header-container {
  font-family: "Karla", sans-serif;
  padding: 0.5em 3em 0.5em 3em;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  transition: 0.2s ease-in-out;
  gap: 1em;
  z-index: 1;
}
.header-container #logo {
  max-height: 4em;
}
.header-container .cmps-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.header-container .cmps-header #campus-name {
  margin-top: 0.5em;
  max-height: 3em;
}
.header-container .search {
  filter: opacity(0.4) drop-shadow(0 0 0 #ff2929);
  max-width: 2em;
  margin-top: 0.5em;
  padding: 0em 0em 0em 0em;
}
.header-container .search-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  max-height: 7em;
}
.header-container .search:hover {
  filter: opacity(0.1) drop-shadow(0 0 0 #ff2929);
}

#slides {
  position: relative;
  width: 100%;
  z-index: -2;
  scroll-snap-align: start;
}

.spacer {
  content: " ";
  position: absolute;
  background: linear-gradient(#ffffff, #ffffff 45%, transparent);
  left: 0;
  top: 0em;
  height: 28em;
  width: 100%;
  transition: all 0.2s;
  z-index: -1;
}

.nav-items {
  display: flex;
  font-size: 1.1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease-in-out;
}
.nav-items a {
  text-decoration: none;
  color: #7f1414;
  transition: color 0.1s ease-in-out;
}
.nav-items a:hover {
  color: rgba(127, 20, 20, 0.5803921569);
}
.nav-items .dropdown {
  position: relative;
}
.nav-items .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  margin-left: -1rem;
}
.nav-items .dropdown .dropdown-content li {
  padding: 0;
}
.nav-items .dropdown .dropdown-content a {
  color: #7f1414;
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  padding: 1rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-items .dropdown .dropdown-content a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #7f1414;
}
.nav-items .dropdown:hover .dropdown-content {
  display: block;
}

#preloader {
  margin-left: -3em;
  justify-content: center;
  align-items: center;
  background: #ffffff no-repeat center center;
  background-size: 8%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 1s ease;
  /* Smooth fade-out transition */
}
#preloader.fade-out {
  opacity: 0;
}
#preloader img {
  height: 5em;
}

.after-scroll {
  position: relative;
  z-index: -2;
  display: block;
}

.cform {
  font-family: "Karla", sans-serif;
  position: relative;
  background: #ffffff;
  flex-direction: row;
  height: 30em;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
.cform #motto-desc {
  font-weight: 500;
  width: 40em;
  word-wrap: break-word;
}
.cform #banner {
  max-height: 23em;
}
.cform .ovtexts {
  display: block;
}

.dir-container {
  background: white;
}
.dir-container .bg {
  background-image: linear-gradient(to right, #ffffff 10%, #7f1414, #7f1414);
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}
.dir-container .bg #dir-img {
  height: 30em;
}
.dir-container .bg #quote {
  flex-direction: column;
}
.dir-container .bg #quote #header1 {
  font-family: "Product Sans Bold";
  margin: 0;
  font-size: 5rem;
  font-weight: 1000;
  color: white;
  width: 5em;
}
.dir-container .bg #quote #header2 {
  font-family: "Product Sans Regular";
  margin-top: -0.5em;
  margin-left: 0.02em;
  font-size: 4rem;
  font-weight: 500;
  color: white;
  width: 5em;
}
.dir-container .bg #quote #message {
  margin-left: 0.3em;
  width: 35em;
  font-weight: 400;
  color: white;
}

footer {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7f1414;
  margin-top: 3em;
  padding: 2% 0%;
}
footer .left {
  color: white;
  padding-left: 10%;
}
footer .right {
  font-family: "Trajan-Pro";
  font-size: x-large;
  color: white;
  padding-right: 10%;
}

.program {
  font-family: "Product Sans Regular";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.program .header {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.program .header #header-img {
  position: relative;
  z-index: -1;
  width: 100%;
}
.program .header .header-text {
  font-family: "Product Sans Bold";
  color: rgba(255, 255, 255, 0.795);
  position: absolute;
  z-index: -1;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program .header .header-text #header1 {
  margin-top: 1.4em;
  font-size: 2rem;
  margin-bottom: -0.5em;
}
.program .header .header-text #header2 {
  text-align: center;
  font-size: 5rem;
}
.program .content-container {
  gap: 2em;
  width: 60%;
}
.program .content-container #header {
  font-family: "Product Sans Bold";
  font-size: 2rem;
}
.program .content-container .pointers {
  flex-direction: column;
  gap: 0.3em;
  align-items: end;
  color: black;
}
.program .content-container .pointers a {
  color: black;
}
.program .content-container .overview {
  flex-direction: column;
  color: rgba(127, 20, 20, 0.937254902);
  gap: 1em;
}
.program .content-container .overview #header {
  font-family: "Product Sans Bold";
  font-size: 2rem;
}
.program .content-container .overview .thin-line {
  height: 1px;
  background-color: #7f1414;
  width: 20%;
  margin: 1px 0;
}
.program .content-container .overview #description {
  word-wrap: break-word;
}
.program .main-contents {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.program .main-contents .program-imgs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.program #banner {
  height: 18em;
  border-radius: 1em;
}
.program .objectives-bg {
  background-color: #7f1414;
  width: 100%;
  justify-content: center;
}
.program .objectives-bg .objectives-container {
  flex-direction: column;
  color: #fff;
  width: 60%;
  justify-content: start;
  padding: 2em 0em;
}
.program .objectives-bg .objectives-container .objectives-header {
  background-color: #7f1414;
  font-family: "Product Sans Bold";
  font-size: 2rem;
  flex-direction: column;
}
.program .objectives-bg .objectives-container .thin-line {
  height: 1px;
  background-color: #ffffff;
  width: 20%;
  margin-top: 0.5em;
}
.program .objectives-bg .objectives-container ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  gap: 0.5em;
  text-align: justify;
}
.program .aus-container {
  font-family: "Product Sans Bold";
  color: #7f1414;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
  font-size: 2rem;
}
.program .aus-container .areas-img {
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}
.program .aus-container .areas-img img {
  height: 8.5em;
}
.program .aus-container .areas-img img:hover {
  transform: scale(1.05);
  filter: opacity(75%) drop-shadow(2px 2px 5px #db0808);
}

.area {
  gap: 3em;
}
.area #description {
  font-size: 1.1rem;
  width: 64%;
}
.area .line-container {
  width: 100%;
  justify-content: center;
}
.area .line-container #thin-line {
  height: 0.2em;
  background-color: #7f1414;
  width: 40%;
}
.area .line-container .two {
  width: 30% !important;
}
.area .img-thmb {
  justify-content: space-evenly;
  width: 70%;
  flex-wrap: wrap;
  gap: 1em;
}
.area .img-thmb a {
  position: relative;
  height: 10%;
}
.area .img-thmb a img {
  border-radius: 0.5em;
  width: 100%;
  transition: filter 0.5s ease;
}
.area .img-thmb a .text {
  color: white;
  font-size: 24px;
  /* Adjust font size as needed */
  text-align: center;
}
.area .img-thmb a:hover .overlay {
  opacity: 1;
}
.area .img-thmb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(127, 20, 20, 0.7725490196);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0.5em;
}
.area .collapsible-container {
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.area .collapsible-container .collapsible {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-radius: 0.5em;
  background-color: #7f1414;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 72%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.area .collapsible-container .collapsible #title {
  font-weight: 600;
  font-size: 1rem;
}
.area .collapsible-container .active,
.area .collapsible-container .collapsible:hover {
  background-color: rgba(127, 20, 20, 0.7725490196);
}
.area .collapsible-container .collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.area .collapsible-container .active:after {
  content: "−";
}
.area .collapsible-container .content {
  margin-top: -1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 70%;
}
.area .collapsible-container .content ul {
  display: flex;
  flex-direction: column;
}
.area .collapsible-container .content .list-header {
  list-style-type: none;
}
.area .collapsible-container .content li {
  margin-top: 0.4em;
  margin-left: -1em;
}
.area .collapsible-container .content a {
  color: #7f1414;
}

/*# sourceMappingURL=main-style.css.map */
