@font-face {
  font-family: "Karla";
  src: url("fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Trajan-Pro";
  src: url("fonts/trajan-pro/TrajanPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("fonts/Product-sans/Product Sans Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("fonts/Product-sans/Product Sans Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Symbols Nerd Font Regular";
  src: url("fonts/Nerdfonts/SymbolsNerdFont-Regular.ttf") format("truetype");
}

/* // naglolo ko pag sa iisang @font-face */

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  margin: 0em;
}

.fade-in {
  opacity: 0;
  /* // transform: translateY(20px); */
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  /* // transform: translateY(0); */
}

img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.2em;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

div,
section,
header {
  display: flex;
}

.init-header {
  font-family: "Karla", sans-serif;
  scroll-snap-align: start;
  padding: 2em 3em 0em 3em;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: white;

  #logo {
    max-height: 8em;
  }

  .cmps-header {
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    #campus-name {
      max-height: 7em;
    }
  }

  .search {
    filter: opacity(0.4) drop-shadow(0 0 0 #ff2929);
    max-width: 3em;
    margin-top: -2em;
    padding: 0em 3em 0em 3em;
  }

  .search-button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .search:hover {
    filter: opacity(0.1) drop-shadow(0 0 0 #ff2929);
  }
}

.header-container {
  font-family: "Karla", sans-serif;
  padding: 0.5em 3em 0.5em 3em;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  transition: 0.2s ease-in-out;
  gap: 1em;
  z-index: 1;

  #logo {
    max-height: 4em;
  }

  .city-logo {
    display: none;
  }

  .cmps-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    #campus-name {
      margin-top: 0.5em;
      max-height: 3em;
    }
  }

  .search {
    filter: opacity(0.4) drop-shadow(0 0 0 #ff2929);
    max-width: 2em;
    margin-top: 0.5em;
    padding: 0em 0em 0em 0em;
  }

  .search-button {
    border: 0;
    background: transparent;
    cursor: pointer;
    max-height: 7em;
  }

  .search:hover {
    filter: opacity(0.1) drop-shadow(0 0 0 #ff2929);
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0px 7px 36px 0px rgba(127, 20, 20, 0.51);

  .close-btn {
    position: relative;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .search-box {
    padding: 2em;
    border-radius: 8px;
    width: 80%;
    display: flex;
    justify-content: space-between;

    input[type="text"] {
      width: 95%;
      padding: 0.5em;
      font-size: 1.2rem;
    }

    button[type="submit"] {
      background-color: white;
      border: none;
      cursor: pointer;
      border-radius: 0.5em;
      height: fit-content;
      padding-top: 0.5em;

      img {
        height: 2em;
        margin-top: 0;
        padding: 0;
      }
    }
  }
}

#slides {
  position: relative;
  width: 100%;
  z-index: -2;
  scroll-snap-align: start;
}

.spacer {
  content: " ";
  position: absolute;
  background: linear-gradient(#ffffff, #ffffff 45%, transparent);
  left: 0;
  top: 0em;
  height: 28em;
  width: 100%;
  transition: all 0.2s;
  z-index: -1;
}

.nav-items {
  display: flex;
  font-size: 1.1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease-in-out;

  a {
    text-decoration: none;
    color: #7f1414;
    transition: color 0.1s ease-in-out;
  }

  a:hover {
    color: #7f141494;
  }

  .dropdown {
    position: relative;

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      list-style-type: none;
      padding: 0;
      padding-top: 1rem;
      margin-left: -1rem;

      li {
        padding: 0;
      }

      a {
        color: #7f1414;
        text-decoration: none;
        display: block;
        font-size: 1.1rem;
        padding: 1rem;
        transition:
          color 0.3s ease-in-out,
          box-shadow 0.3s ease-in-out;
      }

      a:hover {
        color: #fff;
        box-shadow: inset 200px 0 0 0 #7f1414;
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

#preloader {
  margin-left: -3em;
  justify-content: center;
  align-items: center;
  background: #ffffff no-repeat center center;
  background-size: 8%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 1s ease;

  /* Smooth fade-out transition */
  &.fade-out {
    opacity: 0;
  }

  img {
    height: 5em;
  }
}

.after-scroll {
  position: relative;
  z-index: -2;
  display: block;
}

.motto-overview {
  margin: 0em 2em;
}

.cform {
  font-family: "Karla", sans-serif;
  position: relative;
  background: #ffffff;
  flex-direction: row;
  height: 30em;
  align-items: center;
  justify-content: center;
  gap: 5em;

  #motto-desc {
    font-weight: 500;
    width: 40em;
    word-wrap: break-word;
  }

  #banner {
    max-height: 23em;
  }

  .ovtexts {
    display: block;
  }
}

.dir-container {
  background: white;

  .bg {
    background-image: linear-gradient(to right, #ffffff 10%, #7f1414, #7f1414);
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;

    #dir-img {
      height: 30em;
    }

    #quote {
      flex-direction: column;

      #header1 {
        font-family: "Product Sans Bold";
        margin: 0;
        font-size: 5rem;
        font-weight: 1000;
        color: white;
        width: 5em;
      }

      #header2 {
        font-family: "Product Sans Regular";
        margin-top: -0.5em;
        margin-left: 0.02em;
        font-size: 4rem;
        font-weight: 500;
        color: white;
        width: 5em;
      }

      #message {
        margin-left: 0.3em;
        width: 35em;
        font-weight: 400;
        color: white;
      }
    }
  }
}

footer {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7f1414;
  margin-top: 3em;
  padding: 2% 0%;
  gap: 2em;

  .left {
    color: white;
    padding-left: 10%;
    min-width: fit-content;
  }

  .right {
    font-family: "Trajan-Pro";
    font-size: x-large;
    color: white;
    padding-right: 10%;
    min-width: fit-content;
  }
}

.program {
  font-family: "Product Sans Regular";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;

  .border {
    position: relative;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    /* Set your background color */
  }

  .border:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 12px;
    background: linear-gradient(to right, #3ad0d500, #7f1414 100%);
    z-index: -1;
  }

  .chair-container {
    align-items: center;
    gap: 1em;

    .border {
      flex-direction: column;
      gap: 1em;

      #chair-header {
        color: #7f1414;
        font-size: 1.5rem;
        margin: 0;

        text-align: center;
      }
    }

    .members {
      flex-direction: row;
      gap: 1.5em;
      justify-content: space-evenly;
      padding-right: 1em;
      padding-bottom: 1em;

      .img-cont {
        flex-direction: column;
        gap: 0.5rem;

        img {
          height: 7em;
          border-radius: 0.8em;
        }

        p {
          margin: 0;
          font-size: 0.8rem;
          text-align: center;
        }
      }

      .regular {
        img {
          height: 10em;
        }
      }
    }

    img {
      height: 25em;
    }
  }

  .header {
    justify-content: center;
    align-items: center;
    width: 100%;

    #header-img {
      position: relative;
      z-index: -1;
      width: 100%;
    }

    .header-text {
      font-family: "Product Sans Bold";
      color: rgba(255, 255, 255, 0.795);
      position: absolute;
      z-index: -1;
      height: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #header1 {
        margin-top: 1.4em;
        font-size: 2rem;
        margin-bottom: -0.2em;
      }

      #header2 {
        text-align: center;
        font-size: 4rem;
        line-height: 1;
      }
    }
  }

  .content-container {
    gap: 2em;
    width: 60%;

    #header {
      font-family: "Product Sans Bold";
      font-size: 2rem;
    }

    .pointers {
      flex-direction: column;
      gap: 0.3em;
      align-items: end;
      color: black;

      a {
        color: black;
      }
    }

    .overview {
      flex-direction: column;
      color: #7f1414ef;
      gap: 1em;

      #header {
        font-family: "Product Sans Bold";
        font-size: 2rem;
      }

      .thin-line {
        height: 1px;
        background-color: #7f1414;
        width: 20%;
        margin: 1px 0;
      }

      #description {
        word-wrap: break-word;
      }
    }
  }

  .main-contents {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .program-imgs {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

  #banner {
    height: 18em;
    border-radius: 1em;
    width: 70%;
  }

  .objectives-bg {
    background-color: #7f1414;
    width: 100%;
    justify-content: center;

    .objectives-container {
      flex-direction: column;
      color: #fff;
      width: 60%;
      justify-content: start;
      padding: 2em 0em;

      .objectives-header {
        background-color: #7f1414;
        font-family: "Product Sans Bold";
        font-size: 2rem;
        flex-direction: column;
      }

      .thin-line {
        height: 1px;
        background-color: #ffffff;
        width: 20%;
        margin-top: 0.5em;
      }

      ul {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
        gap: 0.5em;
        text-align: justify;
      }
    }
  }

  .aus-container {
    font-family: "Product Sans Bold";
    color: #7f1414;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
    font-size: 2rem;

    .areas-img {
      gap: 1em;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        height: 8.5em;
      }

      img:hover {
        transform: scale(1.05);
        filter: opacity(75%);
      }
    }
  }
}

.area {
  gap: 3em;

  #description {
    font-size: 1.1rem;
    width: 64%;
  }

  .line-container {
    width: 100%;
    justify-content: center;

    #thin-line {
      height: 0.2em;
      background-color: #7f1414;
      width: 40%;
    }

    .two {
      width: 30% !important;
    }
  }

  .img-thmb {
    margin: -2em 0em;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 1em;

    a {
      display: grid;
      place-items: center;
      position: relative;
      width: max-content;

      img {
        border-radius: 0.5em;
        transition: filter 0.5s ease;
        height: 85%;
      }

      .text {
        color: white;
        font-size: 24px;
        /* Adjust font size as needed */
        text-align: center;
      }
    }

    a:hover .overlay {
      opacity: 1;
    }

    .overlay {
      display: grid;
      place-items: center;
      position: absolute;
      width: 85%;
      height: 85%;
      background: #7f1414c5;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease;
      border-radius: 0.5em;
    }
  }

  .collapsible-container {
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 80%;

    .collapsible {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      border-radius: 0.5em;
      background-color: #7f1414;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 80%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: background-color 0.5s ease;

      #title {
        font-weight: 600;
        font-size: 1rem;
      }
    }

    .active,
    .collapsible:hover {
      background-color: #7f1414c5;
    }

    .collapsible:after {
      content: "\002B";
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .content {
      margin-top: -1em;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      width: 70%;
      margin-left: -3em;

      ul {
        display: flex;
        flex-direction: column;
      }

      .list-header {
        list-style-type: none;
      }

      li {
        margin-top: 0.4em;
        margin-left: -1em;
      }

      a {
        color: #7f1414;
      }
    }
  }
}

/*MOBILE BLOCKING*/
#warning-overlay {
  flex-direction: column;
  font-family: "Product Sans Bold";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7f1414;
  color: white;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px;
  box-sizing: border-box;
}

#warning-header {
  font-size: 1.5em;
}

#warning-overlay p {
  color: rgba(255, 255, 255, 0.688);
  font-size: 0.8em;
  margin-left: 10%;
  margin-right: 10%;
}

body.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #7f1414;
  border-radius: 10px;
}
